<html lang="en">
<head>
    <meta charset="utf-8">
    {% load static %}
    <meta name="author" content="Lena Deykun @python_dev_blog">
    <title>Game Catalog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body>

    <header>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Game Muster</strong>
          </a>
        </div>
      </div>
    </header>

    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
              {% for game in games %}
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    {% if game.screenshot_url %}
                      <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="{{game.screenshot_url}}" data-holder-rendered="true">
                    {% else %}
                      <img class="card-img-top" style="height: 225px; width: 100%; display: block;" src="{% static 'media/no-image.png' %}" data-holder-rendered="true">
                    {% endif %}
                    <div class="card-body">
                      <p class="card-text font-weight-bold">{{game.name}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                        </div>
                          {% if game.aggregated_rating %}
                        <small class="text-muted">Rating: {{game.aggregated_rating}}</small>
                          {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>
          <a href='https://www.instagram.com/python_dev_blog/'>@python_dev_blog</a>
        </p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>